@import "tailwindcss";

@theme {
  --color-primary: #be2c3f;
  --color-background: #f9f8f7;
  --color-foreground: #34261a;
  --color-secondary: #e8e4db;
  --color-accent: #e3dacd;

  --color-warm-brown: #674832;
  --color-terracotta: #d16a47;
  --color-sage: #609f7a;
  --color-cream: #f5f3ef;
}
